/* 404 */
.not-contents {
  width: 100%;
  margin: 0 auto;
}
.not-contents img {
  max-width: 100%;
  vertical-align: bottom;
}
.not-item--nothing {
  margin-top: 7.8%;
}
.not-item--nothing p {
  font-size: 3.2rem;
  text-align: center;
  font-family: "GenJyuuGothic";
  font-weight: bold;
  color: #262626;
}
.not-item--nothingImg {
  width: 100%;
  max-width: 224px;
  margin: 4.9% auto 7.8%;
}


@media screen and (max-width:768px) {
  .not-block {
    margin: 14.7% auto 0;
    line-height: 1.8;
  }
  .not-block--top {
    margin: 9.4% auto 0;
  }
  .not-item--nothing {
    margin-top: 9.1%;
  }
  .not-item--nothing p {
    font-size: 2rem;
  }
  .not-item--nothingImg {
    margin: 9.1% auto 18.2%;
  }
}

