/* chintaiDetail */
.chintaiDetail-contents {
  width: 100%;
  margin: 0 auto;
}

.chintaiDetail-contents img {
  max-width: 100%;
  vertical-align: bottom;
}

.chintaiDetail-block {
  width: 100%;
  margin: 6% auto 0;
}

.chintaiDetail-block--top {
  margin: 7.8% auto 0;
}

.chintaiDetail-blockInner {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.chintaiDetail-block--wullGreen {
  width: 100%;
  max-width: 100%;
  padding: 6% 0 6.2%;
  background: rgba(0, 152, 68, .1);
  margin: 0 auto;
}

.chintaiDetail-detailMain {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 11.2%;
}

.chintaiDetail-labelList {
  display: flex;
  margin-bottom: 8.3%;
  font-size: 2rem;
  color: #333;
}

.chintaiDetail-labelList li span {
  margin-right: 5px;
  padding: 5px;
  font-size: 1.6rem;
  background-color: #4D291F;
  color: #fff;
}

.chintaiDetail-labelList li {
  margin-right: 4.1%;
  font-size: 2rem;
}

.chintaiDetail-area {
  font-size: 2rem;
  font-weight: bold;
}

.chintaiDetail-price {
  padding: 3.9% 0;
  font-size: 3.2rem;
  color: #FC6408;
  font-weight: bold;
}

.chintaiDetail-images {
  width: 47%;
  height: auto;
  margin-left: 3%;
}

.chintaiDetail-tableArea {
  width: 47%;
  margin-right: 3%;
}

.chintaiDetail-images img {
  width: 100%;
  height: auto;
}

.chintaiDetail-tableArea dl {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  font-size: 1.8rem;
  margin-bottom: 5%;
}

.chintaiDetail-tableArea dl dt {
  width: 25%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  color: #4D291F;
  font-weight: bold;
  border-bottom: 2px solid #F6F4F4;
  font-family: 'GenJyuuGothic';
}

.chintaiDetail-tableArea dl dd {
  width: 75%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  color: #333;
  border-bottom: 2px solid #F6F4F4;
}

.chintaiDetail-subTitle {
  margin-bottom: 5.9%;
  font-size: 3.2rem;
  color: #333;
  font-family: 'GenJyuuGothic';
}

.chintaiDetail-points {
  margin-bottom: 3.9%;
  position: relative;
  border: 2px solid #330A00;
}

.chintaiDetail-pointLabel {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  background-color: #330A00;
  font-family: ropa-sans-pro, sans-serif;
  font-style: normal;
}

.chintaiDetail-pointArea {
  padding: 3% 4.4%;
  color: #FC6408;
  line-height: 2;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'GenJyuuGothic';
}

.chintaiDetail-pointIcon {
  position: absolute;
  top: -88px;
  right: 20px;
  width: 112px;
}

.chintaiDetail-detailAll .chintaiDetail-tableArea {
  width: 100%;
}

.chintaiDetail-detailAll .chintaiDetail-tableArea dl {
  margin-bottom: 2%;
}

.chintaiDetail-detailAll .chintaiDetail-tableArea dl dt {
  width: 20%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.chintaiDetail-detailAll .chintaiDetail-tableArea dl dd {
  width: 80%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.chintaiDetail-map {
  margin-bottom: 11.7%;
}

.chintaiDetail-buttonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11.7%;
}

.chintaiDetail-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.chintaiDetail-buttonInner {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.chintaiDetail-buttonInner--left {
  width: 62.7%;
  max-width: 302px;
  margin-left: 0;
  margin-right: auto;
}

.chintaiDetail-buttonInner--small {
  width: 30%;
}

.chintaiDetail-buttonInner--back {
  width: 300px;
  margin-right: 20px;
  margin-left: auto;
}

.chintaiDetail-button a {
  display: block;
  padding: 6.7% 0;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #009844;
  font-size: 1.8rem;
}

.chintaiDetail-button--white a {
  color: #009844;
  background-color: #fff;
}

.chintaiDetail-button--green a {
  color: #fff;
  background-color: #009844;
}

.chintaiDetail-icon {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 60px;
}

.chintaiDetail-buttonArrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.chintaiDetail-buttonArrow--back {
  left: 15px;
  right: inherit;
}

.chintaiDetail-contactTitle {
  font-size: 3.2rem;
  text-align: center;
  margin: 0 auto 4.8%;
  font-family: "GenJyuuGothic";
}

/* TOPへ戻る調整 */
.top-buttonInner {
  margin-left: 20px;
  margin-right: auto;
}

/* swiper */
.chintaiDetail-slider {
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.chintaiDetail-slider .swiper {
  width: 100%;
  height: auto;
}

.chintaiDetail-slider .swiper {
  overflow: visible;
}

.chintaiDetail-slider .swiper .swiper-wrapper {
  align-items: flex-end;
  margin-bottom: 15px;
}

.chintaiDetail-slider .swiper,
.chintaiDetail-slider .thumb-wrapper {
  max-width: 720px;
  margin: auto;
}

.chintaiDetail-slider .swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}

.chintaiDetail-slider .swiper-fade .swiper-slide {
  margin: 0;
}

.chintaiDetail-slider .swiper-fade .swiper-slide .slide img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 0;
}

.chintaiDetail-slider .swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.chintaiDetail-slider .slide {
  display: block;
  overflow: hidden;
}

.chintaiDetail-slider .thumb-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.chintaiDetail-slider .thumb-media img {
  width: 100%;
  height: 84px;
  object-fit: cover;
}

/* modal */
.more-button {
  margin-top: 5.2%;
  text-align: right;
}

.more-button span {
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #009844;
  border-radius: 8px;
  color: #009844;
  font-size: 1.8rem;
  cursor: pointer;
}

.modal-container .chintaiDetail-slider .swiper {
  max-width: 720px;
  margin: auto;
}

.modal-container .chintaiDetail-slider .thumb-wrapper {
  max-width: 100%;
  margin: auto;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  z-index: 1;

}
.modal-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal-container.active {
  opacity: 1;
  visibility: visible;
}
.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
}
.chintaiDetail-modalContent {
  background: #fff;
  padding: 30px;
}
.chintaiDetail-sliderModal {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px;
}
.chintaiDetail-sliderModal .swiper-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  height: 40vw;
  max-height: 600px;
  min-height: 400px;
  width: 100%;
}
.chintaiDetail-sliderModal .swiper-wrapper {
  margin: 0 auto;
  align-items: center;
}
.chintaiDetail-sliderModal .swiper-container.slider {
  width: 100%;
  margin: 0 auto;
  height: 60vh;
}
.chintaiDetail-sliderModal .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 0;
}
.chintaiDetail-sliderModal .swiper-container .swiper-wrapper .swiper-slide img {
  display: inline;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border-radius: 0;
  object-fit: contain;
}
.chintaiDetail-sliderModal .swiper-container.slider-thumbnail {
  width: 90%;
  margin: 0 auto;
  height: 11vh;
  min-height: 220px;
}
.chintaiDetail-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
.chintaiDetail-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 25%;
  height: max-content;
  opacity: 0.5;
  overflow: hidden;
}
.chintaiDetail-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/* prev nextカスタマイズ */
.swiper-modal-prev {
  position: absolute;
  bottom: 120px;
  left: 30px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev.swiper-button-disabled,
.swiper-modal-next.swiper-button-disabled {
  opacity: 0.3;
}
.swiper-modal-next {
  position: absolute;
  bottom: 120px;
  right: 30px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev:after,
.swiper-modal-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 32px;
  width: 32px;
  margin: auto;
}

.search-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 28px;
}

@media screen and (max-width:768px) {
  .chintaiDetail-block {
    margin: 14.7% auto 0;
    line-height: 1.8;
  }

  .chintaiDetail-block--top {
    margin: 9.4% auto 0;
  }

  .chintaiDetail-blockInner {
    max-width: 100%;
    padding: 0 5.4%;
  }

  .chintaiDetail-block--wullGreen {
    width: 100%;
    max-width: 100%;
    padding: 9.3% 0 10.7%;
    margin: 0 auto;
  }

  .chintaiDetail-leadText {
    font-size: 1.4rem;
    text-align: left;
  }

  .chintaiDetail-detailMain {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16.7%;
  }

  .chintaiDetail-labelList {
    margin-bottom: 9.8%;
    font-size: 1.2rem;
  }

  .chintaiDetail-labelList li span {
    margin-right: 3px;
    padding: 3px;
    font-size: 1rem;
    background-color: #4D291F;
    color: #fff;
  }

  .chintaiDetail-labelList li {
    margin-right: 4.1%;
    font-size: 1.2rem;
  }

  .chintaiDetail-area {
    margin-top: 4.6%;
    font-size: 1.4rem;
  }

  .chintaiDetail-price {
    padding: 3.1% 0 1.5%;
    font-size: 2rem;
  }

  .chintaiDetail-images {
    width: 100%;
    margin-left: 0;
  }

  .chintaiDetail-tableArea {
    width: 100%;
    margin-right: 0
  }

  .chintaiDetail-tableArea dl {
    font-size: 1.4rem;
    margin-bottom: 4.6%;
  }

  .chintaiDetail-tableArea dl dt {
    width: 27%;
    padding-bottom: 4.5%;
    margin-bottom: 4.5%;
  }

  .chintaiDetail-tableArea dl dd {
    width: 73%;
    padding-bottom: 4.5%;
    margin-bottom: 4.5%;
  }

  .chintaiDetail-subTitle {
    margin-bottom: 5.9%;
    font-size: 2rem;
  }

  .chintaiDetail-points {
    margin-bottom: 6.1%;
  }

  .chintaiDetail-pointLabel {
    display: inline-block;
    padding: 2px 15px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    background-color: #330A00;
  }

  .chintaiDetail-pointArea {
    padding: 4.6% 9.2%;
    font-size: 1.4rem;
  }

  .chintaiDetail-pointIcon {
    top: -51px;
    right: 25px;
    width: 65px;
  }

  .chintaiDetail-detailAll .chintaiDetail-tableArea dl dt {
    width: 27%;
    padding-bottom: 4.5%;
    margin-bottom: 4.5%;
  }

  .chintaiDetail-detailAll .chintaiDetail-tableArea dl dd {
    width: 73%;
    padding-bottom: 4.5%;
    margin-bottom: 4.5%;
  }

  .chintaiDetail-buttonArea {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .chintaiDetail-buttonArea .chintaiDetail-button {
    margin-bottom: 10%;
  }

  .chintaiDetail-contactTitle {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 6.3%;
  }

  .chintaiDetail-button {
    width: 100%;
  }

  .chintaiDetail-buttonInner {
    width: 100%;
  }

  .chintaiDetail-buttonInner--left {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .chintaiDetail-buttonInner--small {
    width: 100%;
  }

  .chintaiDetail-button a {
    padding: 5% 0;
    font-size: 1.6rem;
  }

  .chintaiDetail-icon {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 48px;
  }

  /* TOPへ戻る調整 */
  .top-buttonInner {
    margin-left: 0;
    padding: 0;
  }

  .top-icon {
    left: -18px;
  }
  /* swiper */
  .chintaiDetail-slider .thumb-wrapper {
    gap: 10px;
  }

  .chintaiDetail-sliderModal .swiper-container.slider {
    width: 100%;
    height: 25.5vh;
  }

  .chintaiDetail-sliderModal .swiper-container.slider-thumbnail {
    width: 80%;
    height: 6vh;
  }

  .chintaiDetail-slider .swiper-fade .swiper-slide .slide img {
    height: 240px;
  }

  .chintaiDetail-slider .thumb-media img {
    height: 54px;
  }

  /* modal */
  .more-button {
    margin-top: 4.6%;
    margin-bottom: 4.6%;
  }

  .more-button span {
    padding: 6px 20px;
    font-size: 1.2rem;
  }

  .chintaiDetail-modalContent {
    padding: 60px 10px 20px;
  }

  .chintaiDetail-sliderModal {
    padding: 10px;
  }

  .chintaiDetail-sliderModal .swiper-container.slider {
    height: 35vh;
    max-height: 300px;
    min-height: 200px;
  }

  .chintaiDetail-sliderModal .swiper-container.slider-thumbnail {
    height: 8vh;
    min-height: 80px;
    bottom: 0;
    width: 70%;
  }

  .modal-close {
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
  }

  .modal-body{
    width: 95%;
  }

  /* prev nextカスタマイズ */
  .swiper-modal-prev {
    bottom: 36px;
    left: 10px;
    height: 28px;
    width: 28px;
  }
  .swiper-modal-next {
    bottom: 36px;
    right: 10px;
    height: 28px;
    width: 28px;
  }
  .swiper-modal-prev:after,
  .swiper-modal-next:after {
    height: 28px;
    width: 28px;
  }

  .search-icon {
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
}

