/* chintai */
.chintai-contents {
  width: 100%;
  margin: 0 auto;
}

.chintai-contents img {
  max-width: 100%;
  vertical-align: bottom;
}

.chintai-block {
  width: 100%;
  margin: 6% auto 0;
}

.chintai-block--top {
  margin: 4% auto 0;
}

.chintai-tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-family: "GenJyuuGothic";
  font-weight: bold;
  color: #4D291F;
}

.chintai-tab li:not(:last-child) {
  padding-right: 3%;
  margin-right: 3%;
  border-right: 1px solid #4D291F;
}

.chintai-box {
  margin-bottom: 6%;
}

.chintai-list {
  padding: 0;
  margin-top: 4.4%;
}
.chintai-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3.4%;
  margin-bottom: 2.9%;
  box-shadow: 0px 0px 9px -5px #4d291f;
  border-radius: 8px;
  color: #333333;
}

.chintai-img {
  position: relative;
  width: 30%;
  height: fit-content;
}

.chintai-img img {
  width: 100%;
  height: auto;
}

.search-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 28px;
}

.chintai-textArea {
  width: 70%;
  margin-left: 3.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.chintai-textBox {
  margin-bottom: 3.9%;
}

.chintai-textArea p {
  margin: 0;
}

.chintai-access {
  font-size: 1.8rem;
  font-weight: bold;
}

.chintai-price {
  padding-bottom: 1.6%;
  font-size: 2.8rem;
  color: #FC6408;
  font-weight: bold;
}

.chintai-labelList {
  display: flex;
  margin-bottom: 3.1%;
  font-size: 2rem;
  color: #333;
}

.chintai-labelList li span {
  margin-right: 5px;
  padding: 5px;
  font-size: 1.6rem;
  background-color: #4D291F;
  color: #fff;
}

.chintai-labelList li {
  margin-right: 4.1%;
  font-size: 2rem;
}

.chintai-accessDetail,
.chintai-minutes {
  font-size: 1.8rem;
}

.chintai-detail {
  font-size: 1.6rem;
  margin-top: 1.8%;
}

.chintai-buttonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chintai-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.chintai-buttonInner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.chintai-button:last-child {
  margin-left: 6.2%;
}

.chintai-button a {
  display: block;
  padding: 3.9% 0;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #009844;
  font-size: 1.8rem;
}

.chintai-button--white a {
  color: #009844;
  background-color: #fff;
}

.chintai-button--green a {
  color: #fff;
  background-color: #009844;
}

.chintai-icon {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 60px;
}

.chintai-buttonArrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* modal */
[class*="modal-container-"] .chintai-slider .swiper {
  max-width: 720px;
  margin: auto;
}

[class*="modal-container-"] .chintai-slider .thumb-wrapper {
  max-width: 100%;
  margin: auto;
}

[class*="modal-container-"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  z-index: 1;

}
[class*="modal-container-"]:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
[class*="modal-container-"].active{
  opacity: 1;
  visibility: visible;
}
.modal-body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.chintai-modalContent{
  background: #fff;
  padding: 50px 40px;
}
.chintai-sliderModal {
  width: 100%;
  overflow: hidden;
}
.chintai-sliderModal .swiper-container {
  width: 100%;
  overflow: hidden;
}
.chintai-sliderModal .swiper-wrapper {
  margin: 0 auto;
}
.chintai-sliderModal .swiper-container.slider {
  width: 70%;
  margin: 0 auto;
  height: 60vh;
}
.chintai-sliderModal .swiper-container .swiper-wrapper .swiper-slide {
  margin-right: 0;
}
.chintai-sliderModal .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
.chintai-sliderModal .swiper-container.slider-thumbnail {
  width: 90%;
  margin: 0 auto;
  height: 10vh;
}
.chintai-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
.chintai-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 25%;
  height: max-content;
  opacity: 0.5;
  overflow: hidden;
}
.chintai-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/* prev nextカスタマイズ */
.swiper-modal-prev {
  position: absolute;
  bottom: 8vh;
  left: 40px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev.swiper-button-disabled,
.swiper-modal-next.swiper-button-disabled {
  opacity: 0.3;
}
.swiper-modal-next {
  position: absolute;
  bottom: 8vh;
  right: 40px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev:after,
.swiper-modal-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 32px;
  width: 32px;
  margin: auto;
}

@media screen and (max-width:768px) {
  .chintai-block {
    margin: 14.7% auto 0;
    line-height: 1.8;
  }

  .chintai-block--top {
    margin: 9.4% auto 0;
  }

  .chintai-subTitle {
    font-size: 2rem;
    text-align: left;
    margin: 0 auto 11%;
    letter-spacing: 2px;
  }

  .chintai-leadText {
    font-size: 1.4rem;
    text-align: left;
  }

  .chintai-tab {
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  .chintai-tab li {
    margin-bottom: 5%;
    line-height: 1;
  }

  .chintai-tab li:not(:last-child) {
    padding-right: 6.1%;
    margin-right: 6.1%;
  }

  .chintai-box {
    margin-bottom: 6%;
  }

  .chintai-list {
    padding: 0;
    margin-top: 6.4%;
  }
  .chintai-item {
    display: block;
    padding: 9.1%;
    margin-bottom: 9.1%;
    box-shadow: 0px 0px 8px -5px #4d291f;
    border-radius: 8px;
  }

  .chintai-img {
    width: 100%;
    margin-bottom: 9.3%;
  }

  .search-icon {
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }

  .chintai-textArea {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .chintai-textArea p {
    margin: 0;
  }

  .chintai-access {
    font-size: 1.4rem;
  }

  .chintai-price {
    padding-bottom: 0.5%;
    font-size: 2rem;
    color: #FC6408;
  }

  .chintai-labelList {
    margin-bottom: 3.7%;
    font-size: 1.2rem;
  }

  .chintai-labelList li span {
    margin-right: 3px;
    padding: 3px;
    font-size: 1rem;
    background-color: #4D291F;
    color: #fff;
  }

  .chintai-labelList li {
    margin-right: 4.1%;
    font-size: 1.2rem;
  }

  .chintai-accessDetail,
  .chintai-minutes {
    font-size: 1.4rem;
  }

  .chintai-detail {
    font-size: 1.2rem;
  }

  .chintai-buttonArea {
    display: block;
    margin-top: 9.3%;
  }

  .chintai-button {
    width: 100%;
  }

  .chintai-button:last-child {
    margin-top: 9.3%;
    margin-left: 0;
  }

  .chintai-buttonInner {
    width: 100%;
  }

  .chintai-buttonInner--small {
    width: 100%;
    padding: 0 7.3%;
  }

  .chintai-button a {
    border-radius: 5px;
    padding: 4.3% 0;
    font-size: 1.6rem;
    border: 1px solid #009844;
  }

  .chintai-icon {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 48px;
  }
}

