/* lineup */
.lineup-contents {
  width: 100%;
  margin: 0 auto;
}

.lineup-contents img {
  max-width: 100%;
  vertical-align: bottom;
}

.lineup-block {
  width: 100%;
  margin: 6% auto 0;
}

.lineup-block--top {
  margin: 4% auto 0;
}

.lineup-tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-family: "GenJyuuGothic";
  font-weight: bold;
  color: #C9BEBB;
}

.lineup-tab input {
  display: none;
}

.lineup-tab input:checked + label {
  color: #4D291F;
}

.lineup-tab label {
  cursor: pointer;
}

.lineup-tab label.active {
  color: #4D291F;
}

.lineup-tab label:not(:last-child) {
  padding-right: 3%;
  margin-right: 3%;
  border-right: 1px solid #4D291F;
}

.lineup-box {
  margin-bottom: 6%;
}

.lineup-list {
  padding: 0;
  margin-top: 4.4%;
}
.lineup-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3.4%;
  margin-bottom: 2.9%;
  box-shadow: 0px 0px 9px -5px #4d291f;
  border-radius: 8px;
  color: #333333;
}

.lineup-item--nothing {
  margin-top: 7.8%;
}

.lineup-item--nothing p {
  font-size: 3.2rem;
  text-align: center;
  font-family: "GenJyuuGothic";
  font-weight: bold;
  color: #262626;
}

.lineup-item--nothingImg {
  width: 100%;
  max-width: 224px;
  margin: 4.9% auto 7.8%;
}

.lineup-img {
  position: relative;
  width: 32%;
  height: fit-content;
}

.lineup-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.search-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 28px;
}

.lineup-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px;
  color: #fff;
  font-size: 1.6rem;
}

/* タクソノミー増えたら更新必要 */
.lineup-label--new-building {
  background-color: #619800;
}

.lineup-label--construction {
  background-color: #D6412D;
}

.lineup-label--land {
  background-color: #D9882A;
}

.lineup-label--old-building {
  background-color: #007D98;
}

.lineup-textArea {
  width: 68%;
  margin-left: 3.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.lineup-textArea p {
  margin: 0;
}

.lineup-textBox {
  margin-bottom: 3.9%;
}

.lineup-access {
  font-size: 1.8rem;
  font-weight: bold;
}

.lineup-price {
  padding-bottom: 1.6%;
  font-size: 2.8rem;
  color: #FC6408;
  font-weight: bold;
}

.lineup-accessDetail,
.lineup-minutes {
  font-size: 1.8rem;
}

.lineup-detail {
  font-size: 1.6rem;
  margin-top: 1.8%;
}

.lineup-buttonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineup-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.lineup-buttonInner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.lineup-button:last-child {
  margin-left: 6.2%;
}

.lineup-button a {
  display: block;
  padding: 3.9% 0;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #009844;
  font-size: 1.8rem;
}

.lineup-button--white a {
  color: #009844;
  background-color: #fff;
}

.lineup-button--green a {
  color: #fff;
  background-color: #009844;
}

.lineup-icon {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 60px;
}

.lineup-buttonArrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* ページネーション */
.lineup-pagination {
  margin-bottom: 3.4%;
}

/* modal */
[class*="modal-container-"] .lineup-slider .swiper {
  max-width: 720px;
  margin: auto;
}

[class*="modal-container-"] .lineup-slider .thumb-wrapper {
  max-width: 100%;
  margin: auto;
}

[class*="modal-container-"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  z-index: 1;

}
[class*="modal-container-"]:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
[class*="modal-container-"].active {
  opacity: 1;
  visibility: visible;
}
.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
}
.lineup-modalContent {
  background: #fff;
  padding: 60px;
}
.lineup-sliderModal {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.lineup-sliderModal .swiper-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  height: 40vw;
  max-height: 600px;
  min-height: 400px;
  width: 100%;
}
.lineup-sliderModal .swiper-wrapper {
  margin: 0 auto;
  align-items: center;
}
.lineup-sliderModal .swiper-container.slider {
  width: 100%;
  margin: 0 auto;
  height: 60vh;
}
.lineup-sliderModal .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 0;
}
.lineup-sliderModal .swiper-container .swiper-wrapper .swiper-slide img {
  display: inline;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border-radius: 0;
}
.lineup-sliderModal .swiper-container.slider-thumbnail {
  width: 85%;
  margin: 0 auto;
  height: 11vh;
  min-height: 220px;
  padding: 0;
}
.lineup-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
.lineup-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 25%;
  height: max-content;
  opacity: 0.5;
  overflow: hidden;
}
.lineup-sliderModal .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/* prev nextカスタマイズ */
.swiper-modal-prev {
  position: absolute;
  bottom: 100px;
  left: 30px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev.swiper-button-disabled,
.swiper-modal-next.swiper-button-disabled {
  opacity: 0.3;
}
.swiper-modal-next {
  position: absolute;
  bottom: 120px;
  right: 30px;
  height: 32px;
  width: 32px;
}
.swiper-modal-prev:after,
.swiper-modal-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 32px;
  width: 32px;
  margin: auto;
}

@media screen and (max-width:768px) {
  .lineup-block {
    margin: 14.7% auto 0;
    line-height: 1.8;
  }

  .lineup-block--top {
    margin: 9.4% auto 0;
  }

  .lineup-subTitle {
    font-size: 2rem;
    text-align: left;
    margin: 0 auto 11%;
    letter-spacing: 2px;
  }

  .lineup-leadText {
    font-size: 1.4rem;
    text-align: left;
  }

  .lineup-tab {
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  .lineup-tab label {
    margin-bottom: 5%;
    line-height: 1;
  }

  .lineup-tab label:not(:last-child) {
    padding-right: 6.1%;
    margin-right: 6.1%;
  }

  .lineup-box {
    margin-bottom: 6%;
  }

  .lineup-list {
    padding: 0;
    margin-top: 6.4%;
  }
  .lineup-item {
    display: block;
    padding: 9.1%;
    margin-bottom: 9.1%;
    box-shadow: 0px 0px 8px -5px #4d291f;
    border-radius: 8px;
  }

  .lineup-item--nothing {
    margin-top: 9.1%;
  }

  .lineup-item--nothing p {
    font-size: 2rem;
  }

  .lineup-item--nothingImg {
    max-width: 112px;
    margin: 9.1% auto 18.2%;
  }

  .lineup-img {
    width: 100%;
    margin-bottom: 9.3%;
  }

  .lineup-img img {
    height: 258px;
  }

  .search-icon {
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }

  .lineup-label {
    padding: 2px 10px;
    font-size: 1.2rem;
  }

  .lineup-textArea {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .lineup-textArea p {
    margin: 0;
  }

  .lineup-access {
    font-size: 1.4rem;
  }

  .lineup-price {
    padding-bottom: 0.5%;
    font-size: 2rem;
    color: #FC6408;
  }

  .lineup-accessDetail,
  .lineup-minutes {
    font-size: 1.4rem;
  }

  .lineup-detail {
    font-size: 1.2rem;
  }

  .lineup-buttonArea {
    display: block;
    margin-top: 9.3%;
  }

  .lineup-button {
    width: 100%;
  }

  .lineup-button:last-child {
    margin-top: 9.3%;
    margin-left: 0;
  }

  .lineup-buttonInner {
    width: 100%;
  }

  .lineup-buttonInner--small {
    width: 100%;
    padding: 0 7.3%;
  }

  .lineup-button a {
    border-radius: 5px;
    padding: 4.3% 0;
    font-size: 1.6rem;
    border: 1px solid #009844;
  }

  /* modal */
  .lineup-modalContent {
    padding: 60px 10px 20px;
  }

  .lineup-sliderModal {
    padding: 10px;
  }

  .lineup-sliderModal .swiper-container.slider {
    height: 35vh;
    max-height: 300px;
    min-height: 200px;
  }

  .lineup-sliderModal .swiper-container.slider-thumbnail {
    height: 8vh;
    min-height: 80px;
    bottom: 0;
    width: 70%;
  }

  .modal-close {
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
  }

  .modal-body{
    width: 95%;
  }

  /* prev nextカスタマイズ */
  .swiper-modal-prev {
    bottom: 36px;
    left: 10px;
    height: 28px;
    width: 28px;
  }
  .swiper-modal-next {
    bottom: 36px;
    right: 10px;
    height: 28px;
    width:28px;
  }
  .swiper-modal-prev:after,
  .swiper-modal-next:after {
    height: 28px;
    width: 28px;
  }

  .lineup-icon {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 48px;
  }
}

