/* 共通周り */
html { 
  scroll-behavior: smooth;
}

a:hover {
  opacity: 0.7;
}

.dis-pc {
  display: block;
}

.dis-sp {
  display: none;
}

.breadcrumbs {
  width: 100%;
  max-width: 1040px;
  list-style: none;
  margin: 2% auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.breadcrumbs li {
  position: relative;
  margin-left: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #333;
}

.breadcrumbs li::before {
  content: ">";
  display: inline-block;
  margin-right: 15px;
  color: #333;
}

.breadcrumbs li:first-child {
  margin-left: 0;
}

.breadcrumbs li:first-child:before {
  content: none;
}

/* 仮想ページのwrapper共通用 */
.wrapper {
  box-sizing: content-box;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5% 6%;
}

.wrapper-boxes {
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
}

.wrapper-boxes-inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5%;
}

.top-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top-buttonInner {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.top-button a {
  display: block;
  padding: 6.7% 0;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  border: 1px solid #009844;
}

.top-button--green a {
  color: #fff;
  background-color: #009844;
}

.top-button input {
  display: block;
  padding: 6.7% 0;
  width: 300px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  border: 1px solid #009844;
}

.top-button--green input {
  color: #fff;
  background-color: #009844;
}

.top-button--white a {
  color: #009844;
  background-color: #fff;
}

.top-icon {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 60px;
}

.top-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.acf-map {
  width: 100%;
  height: 400px;
}
.acf-map img {
  max-width: inherit !important;
}

/* ページネーション */
.pagination {
  text-align: center;
}

.nav-links {
  width: 100%;
}

.prev,
.next {
  display: inline-block;
  margin: 8px 0;
  text-decoration: none;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  padding: 8px 0;
  font-size: 2rem;
  box-sizing: border-box;
  color: #C9BEBB;
  line-height: 1;
  border: 2px solid #4D291F;
  color: #4D291F;
}

.page-numbers {
  display: inline-block;
  margin: 8px 0;
  text-decoration: none;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  padding: 5px 0;
  font-size: 2rem;
  box-sizing: border-box;
  color: #C9BEBB;
  line-height: 1;
}

.page-numbers li {
  margin-right: 2%;
}

.page-numbers li:last-child {
  margin-right: 0;
}

.pagination a:hover {
  opacity: 0.7;
}

.pagination ul {
  display: flex;
  justify-content: center;
  margin: 8px auto;
  text-decoration: none;
  border-radius: 100%;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  color: #C9BEBB;
  line-height: 1;
}

.pagination .current {
  font-weight: bold;
  color: #4D291F;
}

.next.page-numbers {
  color: #4D291F;
}
.prev.page-numbers {
  color: #4D291F;
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  .wrapper-boxes-inner {
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .dis-pc {
    display: none;
  }
  
  .dis-sp {
    display: block;
  }
  
  .breadcrumbs {
    max-width: 100%;
    margin: 3% auto;
  }

  .breadcrumbs li {
    font-size: 1.2rem;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 0 6% 20%;
  }

  .wrapper-boxes {
    box-sizing: border-box;
  }

  .wrapper-boxes-inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 6%;
  }

  .top-button {
    width: 100%;
  }

  .top-buttonInner {
    width: 100%;
  }

  .top-button a {
    padding: 5.2% 0;
    font-size: 1.6rem;
  }

  .top-button input {
    width: 100%;
    padding: 5.2% 0;
    font-size: 1.6rem;
  }

  .top-icon {
    position: absolute;
    top: -20px;
    left: -18px;
    width: 48px;
  }

  .top-arrow {
    right: 15px;
  }
}
