/* 共通周り */
a:hover {
  opacity: 0.7;
}

.dis-pc {
  display: block;
}

.dis-sp {
  display: none;
}

.breadcrumbs {
  width: 100%;
  max-width: 1040px;
  list-style: none;
  margin: 2% auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.breadcrumbs li {
  position: relative;
  margin-left: 15px;
  font-size: 1.4rem;
  font-weight: normal;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #333;
}

.breadcrumbs li::before {
  content: ">";
  display: inline-block;
  margin-right: 15px;
  color: #333;
}

.breadcrumbs li:first-child {
  margin-left: 0;
}

.breadcrumbs li:first-child:before {
  content: none;
}

/* 仮想ページのwrapper共通用 */
.wrapper {
  box-sizing: content-box;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5% 6%;
}

.wrapper-boxes {
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
}

.wrapper-boxes-inner {
  max-width: 1024px;
  margin: 0 auto;
}

.top-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top-buttonInner {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.top-button a {
  display: block;
  padding: 6.7% 0;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  border: 1px solid #009844;
}

.top-button--green a {
  color: #fff;
  background-color: #009844;
}

.top-button--white a {
  color: #009844;
  background-color: #fff;
}

.top-icon {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 60px;
}

.top-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.acf-map {
  width: 100%;
  height: 400px;
}
.acf-map img {
  max-width: inherit !important;
}

@media screen and (max-width: 768px) {
  .dis-pc {
    display: none;
  }
  
  .dis-sp {
    display: block;
  }
  
  .breadcrumbs {
    max-width: 100%;
    margin: 3% auto;
  }

  .breadcrumbs li {
    font-size: 1.2rem;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 0 6% 20%;
  }

  .wrapper-boxes {
    box-sizing: border-box;
  }

  .wrapper-boxes-inner {
    max-width: 100%;
    padding: 0 6%;
    margin: 0 auto;
  }

  .top-button {
    width: 100%;
  }

  .top-buttonInner {
    width: 100%;
  }

  .top-button a {
    padding: 6.3% 0;
    font-size: 1.6rem;
  }

  .top-icon {
    position: absolute;
    top: -20px;
    left: 10px;
    width: 48px;
  }

  .top-arrow {
    right: 12%;
  }
}
